.Typewriter__wrapper {
    color: green;
    font-size: 50px;
    font-weight: bolder;
}

.Typewriter__cursor {
    font-size: 50px;
    color: gray;
    font-weight: bolder;
}

.container {
    display: flex;
    text-align: center;
    align-items: center;
    height: 50vh;
}

.background {
    height: 100vh;
    background-color: black;
}
